[package]
name = "rustandroid"
version = "0.1.0"
edition = "2024"

[lib]
name = "rustandroid"
crate-type = ["cdylib"]

[dependencies]
rustcore = { path = "../core" }
jni = { version = "0.22", default-features = false }
